*{
    box-sizing: border-box;
}

body{
    height: max-content;
    padding: 2%;

    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    font-family: 'Alata', sans-serif;
}

.header{
    text-align: center;
    padding: 5%;
}

.header img{
    min-width: 80%;
    width: 80%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}

p{
    text-align: center;

    margin: 0;
    padding: 0;

    color: #486e6f;
    -webkit-text-stroke-color: #f2efe1;
    -webkit-text-stroke-width: 1px;
    font-weight: 900;
    font-size: 32pt;
}

.container img{
    width: 80%;
}

.item{
    background-color: rgba(255, 244, 227, 0.7);
    border-radius: 20px 20px 0 0;
    padding: 5% 0;
}

#Kennedy, #unclaimed, #Nixon {
    border-radius: 0 0 20px 20px;
    min-height: 200vmax;
}

button{
    width: 70%;
    min-height: 2em;
    margin: 5% auto;
    display: block;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);    
    font-family: 'Alata', sans-serif;
    color: #4b4b49;
    font-size: 16pt;
}

button.E{
    background-color: #e2908f;
}

button.E:hover{
    background-color: #ce6867;
}

button.MW{
    background-color: #93b2b0;
}

button.MW:hover{
    background-color: #698786;
}

button.S{
    background-color: #a0b9c8;
}

button.S:hover{
    background-color: #6e92a7;
}

button.W{
    background-color: #d4ba7c;
}

button.W:hover{
    background-color: #b2985c;
}

@media (max-width: 62em) {
    p {
      font-size: 16pt;
    }
    button {
        font-size: 12pt;
        padding: 0;
        width: 90%;
    }
  }

@media (max-width: 43em) {
    p {
      font-size: 12pt;
    }
    button {
        font-size: 6pt;
        padding: 0;
        width: 90%;
    }
  }